<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:include="~{admin/menu :: menu}"></div>
<section class="Hui-article-box">
    <legend>新增管理链接</legend>
    <form class="form form-horizontal" th:action="@{/admin/newPermission}">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">链接名</label>
            <div class="formControls col-xs-8 col-sm-7">
             <input class="input-text" type="text" name="name" id="name"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">链接地址</label>
            <div class="formControls col-xs-8 col-sm-7">
                <input class="input-text" type="text" name="url" id="url"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">所属角色</label>
            <div class="formControls col-xs-8 col-sm-7">
                   <select class="input-text">
                     <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.chName}"></option>
                   </select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">链接描述</label>
            <div class="formControls col-xs-8 col-sm-7">
                <input class="input-text" type="text" name="description" id="description"/>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="添加">
            </div>
        </div>
    </form>
</section>
</body>
</html>