<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员控制台</title>
    <script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script type="application/javascript" src="../../js/tether.min.js" th:src="@{/js/tether.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}" src="../js/bootstrap.js"></script>
    <script type="text/javascript" th:src="@{/js/page.js}"></script>
    <style>
        #page ul{
            list-style: none;
            font-size: 30px;
        }
        #page li{
            float: left;
        }
        #page{
            float: right;
            margin-top: 5px;
        }
    </style>
</head>
<body>
<div th:include="~{admin/menu :: menu}"></div>
<section class="Hui-article-box">
    <div class="Hui-article">
<form th:action="@{/admin/users}" id="form1" name="form1" th:method="post">
    <div class="form-group">
        <label for="username">用户名</label>
        <input type="text" name="username" id="username" class="form-text"/>
    </div>
    <div class="form-button">
        <input class="btn btn-success" type="submit" name="userlist" id="userlist" value="搜素"/>
    </div>
</form>
<table class="table table-hover">
    <tr class="success">
        <td>用户名</td>
        <td>邮箱</td>
        <td>角色</td>
        <td>操作</td>
    </tr>
    <tr class="info" th:each="user : ${page.content}">
        <td th:text="${user.username}">---</td>
        <td th:text="${user.email}">---</td>
        <td th:text="${user.role.name}">---</td>
        <td><a href="#">修改</a>&nbsp&nbsp;<a href="#">删除</a></td>
    </tr>
</table>
<!-- Pagination -->
<div id="page" th:include="~{fragments/page :: page}">...</div>
    </div>
</section>
</body>
</html>