<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" th:href="@{/css/bootstrap.css}" href="../css/bootstrap.css"  rel="stylesheet">
    <script type="text/javascript" src="https://cdn.bootcss.com/marked/0.5.2/marked.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}" src="../js/jquery-3.1.1.min.js"></script>
    <script type="application/javascript" src="../../js/tether.min.js" th:src="@{/js/tether.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}" src="../js/bootstrap.js"></script>
    <script type="text/javascript" th:src="@{/js/blog.js}" src="../js/blogadd.js"></script>
    <style>
        .blog{
            padding-left: 200px;
            padding-right: 100px;
        }
    </style>
</head>
<body style="background-color: #7e8795">

<script th:inline="javascript">
    $(function () {
        //js获取博客内容
        var context = [[${blog.context}]].toString();
        $('#context').html(context);

        //点击量更新
        var blogId = [[${blog.article_id}]].toString();
        $.ajax({
            url:"/blog/updateClickNumber",
            type:"post",
            dataType:"application/json",
            data:{"oid":blogId},
            success:function(data){
                console.log(data);
            },
            error:function(data){
                console.log(data);
            }

        });
    })
</script>
<div class="blog">
<h1 th:text="${blog.title}"></h1>
<div id="context"></div>
</div>
</body>
</html>