<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">

</head>
<body>
<!-- Page Content -->
<div class="container blog-content-container">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <!-- Blog Post -->
            <form th:action="@{/index}" id="form1" name="form1" th:method="post">
            <div th:if="${page.size ne 0}" class="card mb-4" th:each="blog : ${page.content}">
                <div class="card-block">
                    <h2 class="card-title">
							<!--<span>
			                  <a href="/u/waylau" title="waylau">
			                    <img src="https://waylau.com/images/waylau_181_181.jpg" class="blog-avatar-50"
                                     alt="waylau">
			                  </a>
					        </span>-->
                        <a href="/u/waylau/blogs/1" th:href="@{/blog/blogContext(blogId=${blog.article_id})}" class="card-link" th:text="${blog.title}">
                            OAuth 2.0 认证的原理与实践
                        </a></h2>
                    <!--<input type="hidden" id="context" name="context" th:value="${blog.context}"/>-->
                    <p class="card-text" th:value="${blog.context}" id="BlogContext"></p>
                    <div class="card-text">
                        <a href="/u/waylau" class="card-link" th:text="${blog.user.username}">waylau</a>发表于：<span th:text="${blog.createDate}"></span><i class="fa fa-eye" aria-hidden="true">210</i>
                        <i class="fa fa-heart-o" aria-hidden="true">10</i> <i class="fa fa-comment-o"
                                                                              aria-hidden="true">110</i>
                    </div>
                </div>
            </div>
            </form>

            <!-- Pagination -->
            <div th:replace="~{fragments/page :: page}">...</div>
        </div>

        <!-- 右侧栏目 -->
        <div class="col-md-4">
            <div>
                <!-- 热门标签 -->
                <div class="card ">
                    <h5 class="card-header"><i class="fa fa-tags" aria-hidden="true"></i> 热门标签</h5>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-12">
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Web Design</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Jersey</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">JavaScript</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">CSS</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Java</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Freebies</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Web Design</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Jersey</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">JavaScript</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">CSS</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Java</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Freebies</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Web Design</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Jersey</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">JavaScript</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">CSS</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Java</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Freebies</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 热门用户 -->
                <div class="card my-4">
                    <h5 class="card-header"><i class="fa fa-users" aria-hidden="true"></i> 热门用户</h5>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-12">
									<span>
					                  <a href="/u/waylau" title="waylau">
					                    <img src="https://waylau.com/images/waylau_181_181.jpg" class="blog-avatar-50"
                                             alt="waylau">
					                  </a>
					                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 热门文章 -->
                <div class="card my-4">
                    <h5 class="card-header"><i class="fa fa-fire" aria-hidden="true"></i> 热门文章</h5>

                    <ul class="list-group">
                        <div th:each="blog,status: ${hostBlog}">

                             <a th:href="@{/blog/blogContext(blogId=${blog.article_id})}" class="list-group-item">
                                 [[${blog.title}]]
                                 <span th:if="${status.index eq 0}" class="badge badge-danger badge-pill" th:text="${blog.clickNum}"></span>
                                 <span th:if="${status.index eq 1}" class="badge badge-warning badge-pill" th:text="${blog.clickNum}"></span>
                                 <span th:if="${status.index eq 2}" class="badge badge-primary badge-pill" th:text="${blog.clickNum}"></span>
                                 <span th:if="${status.index eq 3}" class="badge badge-success badge-pill" th:text="${blog.clickNum}"></span>
                                 <span th:if="${status.index eq 4}" class="badge badge-info badge-pill" th:text="${blog.clickNum}"></span>

                             </a>
                         </div>
                    </ul>
                </div>

                <!-- 最新发布 -->
                <div class="card my-4">
                    <h5 class="card-header"><i class="fa fa-line-chart" aria-hidden="true"></i> 最新发布</h5>
                    <div class="list-group">
                        <ul class="list-group">
                            <div th:each="blog:${newBlog}">
                                <a th:href="@{/blog/blogContext(blogId=${blog.article_id})}" class="list-group-item">
                                    [[${blog.title}]]
                                    <span class="badge badge-success badge-pill" th:text="${blog.createDate}"></span>
                                </a>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->


<div th:replace="~{fragments/footer :: footer}">...</div>
<script type="text/javascript" th:src="@{/js/page.js}"></script>
<script type="text/javascript" th:src="@{/js/blog.js}"></script>
</body>
</html>