<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link type="text/css" th:href="@{/css/bootstrap.css}" href="../css/bootstrap.css"  rel="stylesheet">
    <script type="text/javascript" src="https://cdn.bootcss.com/marked/0.5.2/marked.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}" src="../js/jquery-3.1.1.min.js"></script>
    <script type="application/javascript" src="../../js/tether.min.js" th:src="@{/js/tether.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}" src="../js/bootstrap.js"></script>
</head>
<body>
<form th:action="@{/login}" th:method="post">
    <input type="text" name="username" id="username"/>
    <input type="password" name="password" id="password"/>
    <div th:if="${errorMessage}"><p th:text="${errorMessage}"></p></div>
    <input type="submit" name="login" value="登录">
</form>
<a th:href="@{/register}">新用户注册</a>
</body>
</html>