<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人设置</title>
</head>
<body>
<form th:action="@{/user/saveSetting}">
    <input type="hidden" name="id" th:value="${user.id}"/>
    <div>
        <label>用户名：</label>
        <input type="text" name="username" th:value="${user.username}"/>
    </div>
    <div>
        <label>密码：</label>
        <input type="text" name="password" th:value="${user.password}"/>
    </div>
    <div>
        <label>邮箱：</label>
        <input type="text" name="email" th:value="${user.email}"/>
    </div>
    <input type="submit" value="修改"/>
</form>
</body>
</html>